
a, .nav-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}


a:hover, .nav-link:hover {
  color: #ffc107 !important;
}




body, .navbar-brand, .nav-link {
  font-family: Georgia, serif;
}

.link-box {
  height: 48px;
  border-left: 8px solid #6c757d;   
  padding-left: 12px;                
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}


.link-box:hover {
  background-color: #ffc107 !important;
  color: white !important;            
}



